<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../assets/javascripts/ng-slds/resource/angular/angular.min.js"></script>
    <script src="../../assets/javascripts/application_js/directive-factory.js"></script>
    <script src="../../assets/javascripts/application_js/service-factory.js"></script>
    <script src="../../assets/javascripts/application_js/EventCtrl.js"></script>
</head>
<body ng-app="myApp" ng-controller="EventCtrl">
    <we-spinner></we-spinner>
</body>
</html>