<!DOCTYPE html>
<html>
  <head>
    <title>AngularExample</title>
    <%= csrf_meta_tags %>

  </head>
  <body ng-app="angularExample" class="light-blue-skin" ng-controller="EventCtrl">
    <div>
    	<%= yield %>
    </div>
  </body>
</html>
