<div class="page-header" ng-app="myApp">
  <ul class="nav nav-pills" ng-controller="LogCtrl">
    <li class="nav-item" data-toggle="pill">
      <a class="nav-link" href="#" ng-click="getProfiles();">{{temp}}</a>
    </li>
  </ul>
</div>