<div>
<article class="slds-card slds-col">
<div class="">
    <nav id="navigation" role="navigation" tabindex="-1" class="slds-card__body">
        <div class="site-navigation site-navigation--has-search"  style="background: transparent;">
            <ul class="slds-list--vertical slds-has-block-links slds-text-title--caps" ng-repeat="item in nodes">
                <li class="slds-list__item slds-tabs--default__item"><a href="{{item.url}}" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item"><span class="slds-media slds-media--center"><span class="slds-media__body ">{{item.label}}</span></span></a></li>
            </ul>
        </div>
    </nav>
</div>
</article>
</div>