<div>
<table>
  <tr style="margin-left: 10%">
    <td><h4>Add User To App</h4></td>
  </tr>
  <tr>
    <td>A registration request from user has been received.<br> To add user click <a href="http://localhost:3000" >Add User</a></td>
  </tr>
</table>
<p>Thanks for joining and have a great day!</p>
</div>
