/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "app";
@import "salesforce-lightning-design-system.min";
@import "main";
@import "font-awesome.min";

divdisabled {
  cursor: not-allowed;
}
projectItemOverOpenBtn {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #0ebeff;
  border-radius: 50%;
  background-color: #0ebeff;
  color: #fff;
  text-align: center;
  font-size: 12px;
  opacity: 1;
  padding: 5px;
  line-height: 35px;
}